# Server Configuration
PORT=3000
NODE_ENV=development

# Database
MONGODB_URI=mongodb://localhost:27017/answr

# WebSocket
CORS_ORIGIN=http://localhost:5173

# JWT
JWT_SECRET=1b900f496798bac9f5c2ff68e10f634cef3f1f53df3f500869d3a6482c6a55db
