# Server Configuration
PORT=3000
NODE_ENV=development

# Database
MONGODB_URI=mongodb://localhost:27017/answr

# WebSocket
CORS_ORIGIN=http://localhost:5173

# JWT
JWT_SECRET=1b900f496798bac9f5c2ff68e10f634cef3f1f53df3f500869d3a6482c6a55db

# Frontend URL (for OAuth redirects)
FRONTEND_URL=http://localhost:5173

# OAuth Callback Base URL (backend URL)
OAUTH_CALLBACK_URL=http://localhost:3000

# Google OAuth (https://console.cloud.google.com/apis/credentials)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# GitHub OAuth (https://github.com/settings/developers)
GITHUB_CLIENT_ID=Ov23li2WoNLc5GSNF5ax
GITHUB_CLIENT_SECRET=e8c82b0564ff2ec882a08d69d4df7bb0153e1951